#search-icon {
    color: #FFFFFF;
}

#alphabet {
    background-color: #FFFFFF;
    opacity: 50%;
    width: 100%;
    padding: 0.8em;
    border-style: none;
    border-bottom: solid #2E2E2E 1px;
    outline: none;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
}

#rating {
    background-color: #FFFFFF;
    opacity: 50%;
    width: 100%;
    padding: 0.8em;
    border-style: none;
    border-bottom: solid #2E2E2E 1px;
    outline: none;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
}

.sidebar-main {
    background-color: #171717;
    width: 100%;
    height: 100%;
    padding: 20px 250px;
}

.sidebar-activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-form     {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
}

.search-bar {
    background-color: #FFFFFF;
    opacity: 50%;
    width: 100%;
    padding: 0.8em;
    border-style: none;
    border-bottom: solid #2E2E2E 1px;
    outline: none;
    border-width: 1px;
    border-radius: 6px;
    border-style: solid;
}

.sidebar-main h1 {
    margin: 0;
    padding-bottom: 20px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
}

.sidebar-main h2 {
    margin: 0;
    padding-bottom: 20px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    opacity: 50%;
}

.sidebar-sort {
    display: flex;
}

.sidebar-sort-alphabet {
    margin-right: 20px;
}

@media only screen and (max-width: 1200px){

    .sidebar-main {
        padding: 20px 100px;
    }
    
}

@media only screen and (max-width: 768px) {

    .sidebar-main {
        padding: 20px 50px;
    }

}

@media only screen and (max-width: 468px) {

    .sidebar-activities {
        flex-wrap: wrap;
    }

    .sidebar-search {
        width: 100%;
    }

    .search-form div{
        width: 100%;
    }

    .sidebar-sort {
        margin-top: 10px;
    }

    .sidebar-sort-alphabet {
        margin: 0;
    }

    .sort-text {
        display: none;
    }

    .sidebar-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sidebar-sort {
        width: 100%;
    }

    .sidebar-sort-alphabet {
        width: 100%;
    }

    .sidebar-sort-rating {
        width: 100%;
    }

    .sidebar-main {
        padding-bottom: 40px;
    }

}



