#star {
    color: grey;
    float: right;
}

#star :hover {
    color: #F8E71C;
    cursor: pointer;
    transition: 100ms;
}

.movie-details {
    display: flex;
    flex-direction: column;
    width: 182px;
}

.movie-details h4 {
    color: #FFFFFF;
    font-size: 14px;
}

.movie-details p {
    color: #FFFFFF;
    opacity: 50%;
}

.movie-poster {
    display: flex;
    position: relative;
}

.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: none;
    opacity: 80%;
    position: absolute;
} 

.movie-main:hover .overlay{
    display: flex;
}


.movie-star {
    margin-top: 5px;
    margin-right: 5px;
}

.movie-main {
    
}

.rating-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.rating-text h3 {
    font-weight: 300;
    font-size: 52px;
}

