#star {
    color: grey;
    float: right;
}

#star :hover {
    color: #F8E71C;
    cursor: pointer;
    transition: 100ms;
}

.movie-details h4 {
    color: #FFFFFF;
    font-size: 14px;
}

.movie-details p {
    color: #FFFFFF;
    opacity: 50%;
}

/* .overlay {
    width: 182px;
    height: 286px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -350px;
} */

.movie-star {
    margin-top: 5px;
    margin-right: 5px;
}
